header{
 background-color:purple;
 color:white;
 padding:10px;
 height:80px;
}
.head{
	text-align:center;
	font-size:40px;
	color:white;
}
.image img{
	width:200px;
	height:280px;
}
.container{
	height:100vh;
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
	background-image:url("../image/bg-img.jpg");
}
.card-container{
	width:80%;
	height:auto;
	display:flex;
	justify-content:flex-start;
	/* align-items:center; */
	flex-wrap:wrap;
	gap:20px;
}
.card{
	width:20%;
	height:300px;
	/* flex-wrap:wrap; */
	
}
.image2 img{
	width:200px;
	height:250px;
}
.image3 img{
	width:200px;
	height:250px;
}
.image4 img{
	width:200px;
	height:250px;
}
.image5 img{
	width:200px;
	height:250px;
}
.image6 img{
	width:200px;
	height:250px;
}
